gdsbook
notebooks/cache/*
notebooks/.ipynb_checkpoints/lecture-checkpoint.ipynb
.DS_Store
cache/*
.vscode/
sample/*
data/*
outputs
scripts/__pycache__/*
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
sds4gdsp/.ipynb_checkpoints/